<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <p>Nombre: <%= name %></p>
    <p>Cedula: <%= cedula %></p>

    <form action="/save" method="post">
      <input type="text" name="nombre" placeholder="Ingrese nombre"/>
      <button type="submit">Enviar</button>
    </form>


  </body>
</html>
